/* MAIN */

body {
    background: #0c739f url("../img/background.png") repeat-x;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

.main-container {
    width: 1000px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/* special search bar, don`t no way we need it */

.browser-search-line-img {
    height: 39px;
    position: fixed;
    background: url("../img/search-backgroung.png") repeat-x;
    z-index: 1;
    width: 100%;
}

/* HEADER */

header {
    position: relative;
    top: 38px;
    margin-bottom: 38px;
    background-color: #ffffff;
}

.brand-logo {
    padding: 10px 0 0 10px;
}

/* CONTACT US BLOCK */

.contact-us {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #128aa7;
    line-height: 1.5;
}

.contact-us a {
    text-decoration: none;
    color: #128aa7;
}

/* COUNTRY TO TRAVEL MENU */

.country-to-travel {
    position: absolute;
    top: 110px;
    right: 25px;
}

.country-to-travel li {
    float: left;
}

.country-to-travel a {
    display: block;
    width: 60px;
    text-align: center;
    font-size: 10px;
    text-decoration: underline;
    color: #128aa7;
}

/* HEADER MAIN MENU */

.header-menu {
    background-color: #353535;
    height: 27px;
    border-bottom: 1px solid #000000;
    box-shadow: 0 5px 5px -5px #333;
}

.header-menu li{
    float: left;
}

.header-menu li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding: 7px 36px;
}

.header-sub-menu {
    position: relative;
    display: block;
}

.sub-menu-item {
    display: none;
    position: absolute;
    background-color: #353535;
    z-index: 1;
    top: 27px;
    left: 29px;
    border-top: 1px solid #000000;
    box-shadow: 0 5px 5px 2px #333;
}

.sub-menu-item li a {
    min-width: 100px;
    line-height: 1.714;
    padding: 7px 0 0 7px;
}

.header-sub-menu:hover
.sub-menu-item {
    display: block;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    font-size: 14px;
    color: #424c43;
    line-height: 1.714;
    box-shadow: 0 5px 10px #031d28;
}
.info {
    width: 20%;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
    background-color: #edeef0;
}

.news-feed {
    width: 20%;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
    background-color: #edeef0;
}

.central-tape {
    width: 80%;
    background-color: #ffffff;
    text-align: justify;
}

.info,
.news-feed,
.central-tape {
    padding: 10px;
}

.content-column-header {
    font-size: 18px;
    text-align: center;
}

/* footer */

footer {
    color: #ffffff;
    margin: 10px auto;
    text-align: center;
    line-height: 15px;
    background-color: #0c739f;
}