body {
    background-color: #eeeeee;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

.main-user-info-page {
    width: 40%;
    margin: 3% auto;
    padding: 1% 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px;
}

.content-info{
    margin: 10px 50px;
}

hr {
    width: 90%;
}

.user-avatar-img {
    width: 200px;
    height: 200px;
}

.user-avatar-box, .user-name-box{
    text-align: center;
}
.user-name-box h1{
    margin: 20px auto;
}