<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sleptsov | JS tasks</title>
    <link rel="icon" href="favicon.ico">
    <!--<script src="dist/scripts/libs.min.js"></script>-->
    <script src="js/libs/jquery-1.12.1.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/jquery.jcarousel.min.js"></script>
    <script src="js/libs/jquery.nice-select.min.js"></script>
    <script src="js/libs/icheck.min.js"></script>
    <script src="js/libs/tmpl.js"></script>
    <script src="js/libs/lodash.min.js"></script>
    <script src="js/libs/jquery.my-awesome-carousel.js"></script>
    <script data-main="js/tasks/task23-24/app" src="js/tasks/task23-24/require.js"></script>
    <!--<link rel="stylesheet" href="dist/styles/styles.min.css">-->
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/libs/nice-select.css">
    <link rel="stylesheet" href="css/libs/iCheck/square/blue.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sx-12 text-center">
                    <h1>GoIT JavaScript course</h1>
                </div>
                <div class="col-md-4 col-sx-12 text-center">
                    <img src="img/js.png" alt="JS logo" class="img-thumbnail" id="logo-img" title="Click to open all tasks">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading01-02">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse01-02" aria-expanded="true" aria-controls="collapse01-02">
                            Task 01-02
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse01-02" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading01-02">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <h3>Task 01</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_01-02" target="_blank">here</a>
                                        or click button below and check Console to see the result</p>
                                    <button class="btn btn-primary" onclick="task01()">Run task</button>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <h3>Task 02</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_01-02" target="_blank">here</a>
                                        or click button below and follow few steps to see the result</p>
                                    <button class="btn btn-primary" onclick="task02()">Run task</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading03-04">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse03-04" aria-expanded="true" aria-controls="collapse03-04">
                            Task 03-04
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse03-04" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading03-04">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row" >
                                <div class="col-md-12" id="test">
                                    <h3>Task 03-04</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_03-04" target="_blank">here</a>
                                        or click button below and take a test</p>
                                    <button class="btn btn-primary" onclick="task03()">Run task</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading05-06">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse05-06" aria-expanded="true" aria-controls="collapse05-06">
                            Task 05-06
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse05-06" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading05-06">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h3>Task 05-06</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_05-06" target="_blank">here</a></p>
                                    <p class="hidden-xs">Note: you can use keyboard</p>
                                    <p class="hidden-xs">S - start/pause<br>
                                        C - circle<br>
                                        R - reset</p>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div id="timer-box" class="timer-layout">
                                        <h3>Stopwatch</h3>
                                        <h1 id="timer">00 : 00 . 000</h1>
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button type="button" class="btn btn-default" id="start-pause-btn">Start</button>
                                            <button type="button" class="btn btn-default disabled" id="circle-btn">Circle</button>
                                            <button type="button" class="btn btn-default" id="reset-btn">Reset</button>
                                        </div>
                                        <div id="circle-box"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading07-08">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse07-08" aria-expanded="true" aria-controls="collapse07-08">
                            Task 07-08
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse07-08" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading07-08">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Task 07-08</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_07-08" target="_blank">here</a></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tabs">
                                        <ul class="tabs__caption">
                                            <li class="active">Tooltips v.1</li>
                                            <li>Tooltips v.2</li>
                                            <li>One more tab</li>
                                        </ul>
                                        <div>
                                            <div class="tabs__content active">
                                                <form class="form-horizontal sing-up-form" method="post" action="#">
                                                    <div class="form-group">
                                                        <label for="firstName" class="col-sm-3 control-label">First name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   name="firstName"
                                                                   class="form-control"
                                                                   id="firstName"
                                                                   placeholder="First name"
                                                                   data-my-tooltip="Enter your First name here">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="secondName" class="col-sm-3 control-label">Second name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   name="secondName"
                                                                   class="form-control"
                                                                   id="secondName"
                                                                   placeholder="Second name"
                                                                   data-my-tooltip="Enter your Second name here">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="col-sm-3 control-label">Email</label>
                                                        <div class="col-sm-9">
                                                            <input type="email"
                                                                   name="email"
                                                                   class="form-control"
                                                                   id="email"
                                                                   placeholder="Email"
                                                                   data-my-tooltip="Enter your valid email here">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password" class="col-sm-3 control-label">Password</label>
                                                        <div class="col-sm-9">
                                                            <input type="password"
                                                                   name="password"
                                                                   class="form-control"
                                                                   id="password"
                                                                   placeholder="Password"
                                                                   data-my-tooltip="Create password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-3 col-sm-9">
                                                            <button type="submit"
                                                                    class="btn btn-default"
                                                                    data-my-tooltip="Sing in">Sign in</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tabs__content">
                                                <form class="form-horizontal details-form" method="post" action="#">
                                                    <div class="form-group">
                                                        <label for="country" class="col-sm-3 control-label">Country</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="country" placeholder="Country">
                                                            <span class="my-tooltip-inline">Provide your country</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="state" class="col-sm-3 control-label">State</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="state" placeholder="State">
                                                            <span class="my-tooltip-inline">Provide your state</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="city" class="col-sm-3 control-label">City</label>
                                                        <div class="col-sm-9">
                                                            <input type="email" class="form-control" id="city" placeholder="City">
                                                            <span class="my-tooltip-inline">Provide your city</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-3 col-sm-3">
                                                            <button type="submit" class="btn btn-default">Save</button>
                                                        </div>
                                                        <div class="col-sm-6 pull-right">
                                                            <button class="btn btn-default btn-xs" id="show-help">Show help</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tabs__content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae mi nec sapien ornare
                                                    dictum. Phasellus fermentum libero sit amet nulla finibus vehicula. Donec lobortis justo
                                                    ac nisi fringilla, sit amet porta nisl finibus. Class aptent taciti sociosqu ad litora
                                                    torquent per conubia nostra, per inceptos himenaeos. Sed feugiat finibus tortor, eu
                                                    accumsan magna aliquet in. Nullam in luctus magna. Pellentesque lorem arcu, sagittis
                                                    eu dictum ultrices, posuere eu enim.</p>
                                                <p>Nunc augue purus, porta at scelerisque eu, condimentum ut risus. Aenean elementum arcu
                                                    dolor, ut bibendum nunc sagittis non. Cras quis eros eu purus luctus efficitur at quis
                                                    tortor. Donec quis accumsan diam, ut aliquam massa. Sed maximus tristique pellentesque.
                                                    Praesent commodo aliquet aliquam. Suspendisse purus tortor, vulputate a aliquam vitae,
                                                    interdum eu urna. Vivamus lacinia vitae sapien vel rhoncus. Cras at erat mi. Nam facilisis
                                                    turpis vitae sem iaculis, vel iaculis turpis blandit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading09-10">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse09-10" aria-expanded="true" aria-controls="collapse09-10">
                            Task 09-10
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse09-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading09-10">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Task 09-10</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_09-10" target="_blank">here</a></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <nav>
                                        <ul class="content">
                                            <li><a href="#">Main</a></li>
                                            <li class="my-dropdown"><a href="#">Zoo Plus&nbsp;<span class="glyphicon glyphicon-triangle-bottom arrow-style"></span></a>
                                                <ul class="sub-menu">
                                                    <li><a href="#">Zoo Market Plus</a></li>
                                                    <li><a href="#">Awesome Zoo</a></li>
                                                    <li><a href="#">New zoo</a></li>
                                                </ul>
                                            </li>
                                            <li class="my-dropdown">
                                                <a href="#">Gallery&nbsp;<span class="glyphicon glyphicon-triangle-bottom arrow-style"></span></a>
                                                <ul class="sub-menu">
                                                    <li><a href="#">Cats</a></li>
                                                    <li class="my-dropdown">
                                                        <a href="#">Dogs&nbsp;<span class="glyphicon glyphicon-triangle-right arrow-style"></span></a>
                                                        <ul class="sub-menu">
                                                            <li><a href="#">Airedale Terrier</a></li>
                                                            <li class="my-dropdown">
                                                                <a href="#">Retrievers&nbsp;<span class="glyphicon glyphicon-triangle-right arrow-style"></span></a>
                                                                <ul class="sub-menu">
                                                                    <li><a href="#">Flat Coated</a></li>
                                                                    <li><a href="#">Labrador</a></li>
                                                                    <li><a href="#">Golden</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="#">Corgi</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Hedgehogs</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div><!-- Menu END -->
                            <div class="text-center">
                                <h3><a href="http://sorgalla.com/jcarousel/" target="_blank">jCarousel</a></h3>
                            </div>
                            <div class="jcarousel-wrapper">
                                <div data-jcarousel="true" data-wrap="circular" class="jcarousel">
                                    <ul>
                                        <li><img src="img/carousel/slide-1.jpg" width="600" height="400" alt="Slade-1"></li>
                                        <li><img src="img/carousel/slide-2.jpg" width="600" height="400" alt="Slide-2"></li>
                                        <li><img src="img/carousel/slide-3.jpg" width="600" height="400" alt="Slide-3"></li>
                                        <li><img src="img/carousel/slide-4.jpg" width="600" height="400" alt="Slide-4"></li>
                                        <li><img src="img/carousel/slide-5.jpg" width="600" height="400" alt="Slide-5"></li>
                                        <li><img src="img/carousel/slide-6.jpg" width="600" height="400" alt="Slide-6"></li>
                                    </ul>
                                </div>
                                <a data-jcarousel-control="true" data-target="-=1" href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                <a data-jcarousel-control="true" data-target="+=1" href="#" class="jcarousel-control-next">&rsaquo;</a>
                                <div class="jcarousel-pagination"></div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <form>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <fieldset>
                                            <legend><a href="https://github.com/hernansartorio/jquery-nice-select" target="_blank">jQuery Nice Select Plugin</a></legend>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <select class="wide">
                                                        <option data-display="Select option">Nothing</option>
                                                        <option value="1">Some option</option>
                                                        <option value="2">Another option</option>
                                                        <option value="3">Potato option</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <fieldset>
                                            <legend><a href="http://icheck.fronteed.com/" target="_blank">iCheck Plugin</a></legend>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group">
                                                    <h4>Do you like:</h4>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="pets" value="cats"> Cats
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="pets" value="dogs"> Dogs
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="pets" value="hedgehogs"> Hedgehogs
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group">
                                                    <h4>Choose color:</h4>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="fav-color" value="red"> Red
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="fav-color" value="blue"> Blue
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="fav-color" value="green"> Green
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class=" col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <fieldset>
                                            <legend>only CSS</legend>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group css-style">
                                                    <h4>Skills:</h4>
                                                    <div>
                                                        <input type="checkbox" class="i-check-destroy" name="skill" value="html" id="ckb-html">
                                                        <label for="ckb-html">HTML</label>
                                                    </div>

                                                    <div>
                                                        <input type="checkbox" class="i-check-destroy" name="skill" value="css" id="ckb-css">
                                                        <label for="ckb-css">CSS</label>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" class="i-check-destroy" name="skill" value="js" id="ckb-js">
                                                        <label for="ckb-js">JavaScript</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12 css-style">
                                                <div class="form-group">
                                                    <h4>Other:</h4>
                                                    <div>
                                                        <input type="radio" class="i-check-destroy" name="other" value="js" id="r-jq">
                                                        <label for="r-jq">jQuery</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" class="i-check-destroy" name="other" value="bs" id="r-bs">
                                                        <label for="r-bs">Bootstrap</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" class="i-check-destroy" name="other" value="pure" id="r-pure">
                                                        <label for="r-pure">Pure</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading11-12">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11-12" aria-expanded="true" aria-controls="collapse11-12">
                            Task 11-12
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse11-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11-12">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Task 11-12</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_11-12" target="_blank">here</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div>
                                        <button class="btn btn-primary" id="render-tmpl">Render</button> with John Resig JavaScript Micro-Templating
                                    </div>
                                    <div class="simple-tmpl-box">
                                        <script type="text/template" id="simple-tmpl">
                                            <div class="user-info-wrapper">
                                                <% for (var i = 0; i < data.length; i++) { %>
                                                <div class="user-box">
                                                    <hr>
                                                    <img src="<%= data[i].image%>" alt="Img" class="img-circle img-thumbnail pull-right">
                                                    <h3><%= data[i].firstName + "&nbsp;" + data[i].secondName %></h3>
                                                    <p><%= data[i].education%></p>
                                                    <p>Reasons to learn Frontend:</p>
                                                    <ul style="list-style-type: disc">
                                                        <% for (var key in data[i]) { %>
                                                        <% if (key == 'reasonsForGoIT') { %>
                                                        <% for (reason in data[i][key]) { %>
                                                        <li><%= data[i][key][reason] %></li>
                                                        <% }; %>
                                                        <% }; %>
                                                        <% }; %>
                                                    </ul>
                                                    <p>Phone: <%= data[i].phone%></p>
                                                    <p><a href="<%= data[i].profileFB%>" target="_blank">Facebook account</a></p>
                                                    <p>Feedback: <%= data[i].feedback%></p>
                                                    <div>
                                                        <button class="btn btn-default btn-xs col-xs-offset-11 col-xs-1 hide-user">Hide</button>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <% }; %>
                                            </div>
                                        </script>

                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div>
                                        <button class="btn btn-primary" id="render-LoDash">Render</button> with LoDash library
                                    </div>
                                    <div class="simple-tmplLd-box"></div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <hr>
                            <h3 class="text-center">My awesome carousel</h3>
                            <div class="my-carousel-wrapper">
                                <ul class="carousel-list">
                                    <li class="carousel-element">
                                        <figure>
                                            <img src="img/carousel/slide-7.jpg" alt="Slide 1" width="600" height="400">
                                            <figcaption></figcaption>
                                        </figure>
                                    </li>
                                    <li class="carousel-element">
                                        <figure>
                                            <img src="img/carousel/slide-8.jpg" alt="Slide 2" width="600" height="400">
                                            <figcaption></figcaption>
                                        </figure>
                                    </li>
                                    <li class="carousel-element">
                                        <figure>
                                            <img src="img/carousel/slide-9.jpg" alt="Slide 3" width="600" height="400">
                                            <figcaption></figcaption>
                                        </figure>
                                    </li>
                                </ul>
                                <div class="my-carousel-left-control"><span class="glyphicon glyphicon-chevron-left"></span></div>
                                <div class="my-carousel-right-control"><span class="glyphicon glyphicon-chevron-right"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading13-14">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13-14" aria-expanded="true" aria-controls="collapse13-14">
                            Task 13-14
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse13-14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13-14">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Task 13-14</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_13-14" target="_blank">here</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <script type="text/template" id="skill-test-tmpl">
                                <div class="well">
                                    <form method="get" action="" id="skills-test">
                                        <fieldset>
                                            <legend>
                                                Skills test
                                            </legend>
                                            <% for (var i = 0; i < data.length; i++) { %>
                                            <div class="form-group">
                                                <h5><%= data[i].title%></h5>
                                                <h4><%= data[i].question%></h4>
                                                <% for (var key in data[i].answers) { %>
                                                <div class="radio my-skill-test-radio">
                                                    <label>
                                                        <input class="answer-radio" type="radio" name="quiz-<%= data[i].title.slice(-1)%>" value="<%= data[i].answers[key].id%>"> <%= data[i].answers[key].var%>
                                                    </label>
                                                </div>
                                                <% }; %>
                                                <hr>
                                            </div>
                                            <% }; %>
                                        </fieldset>
                                        <button type="button" class="btn btn-default" id="check-test-btn">Check results</button>
                                    </form>
                                </div>
                            </script>
                            <div class="skill-test-box"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading15-16">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15-16" aria-expanded="true" aria-controls="collapse15-16">
                            Task 15-16
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse15-16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15-16">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Task 15-16</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_15-16" target="_blank">here</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid google-task">
                            <div class="google-logo">
                                <img src="https://www.google.com.ua/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">
                            </div>
                            <div class="search-wrapper">
                                <script>
                                    (function() {
                                        var cx = '004079035263324720048:mgyugxd1pi0';
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                    })();
                                </script>
                                <div class="gcse-searchbox"></div>
                            </div>
                            <div class="gcse-searchresults"></div>
                        </div>
                        <hr>
                        <div class="container-fluid">
                            <div class="riffsy-search-box search-wrapper text-center">
                                <div class="riffsy-logo">
                                    <a href="http://www.riffsy.com/" target="_blank"><img src="http://www.riffsy.com/static/images/keyboard2/logo.png"></a>
                                </div>
                                <input type="text" placeholder="Search gif" class="form-control" id="riffsy-search">
                                <button type="button" class="btn btn-default" id="riffsy-btn">Go!</button>
                            </div>
                            <div id="riffsy-results"></div>
                        </div>
                        <hr>
                        <div class="container-fluid">
                            <p>Part 2. Click button below and check Console to see the result</p>
                            <button id="task16-btn" class="btn btn-default">Run task</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading17-18">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17-18" aria-expanded="true" aria-controls="collapse17-18">
                        Task 17-18
                    </a>
                    <span class="label label-success pull-right">Done</span>
                </h4>
            </div>
            <div id="collapse17-18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17-18">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h3>Task 17-18</h3>
                                <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_17-18" target="_blank">here</a>
                                <p>My homework you can find on GitHub. Code <a href="http://github.com/sleptsov/sleptsov.github.io/tree/master/gulp-sass" target="_blank">here</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading23-24">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23-24" aria-expanded="true" aria-controls="collapse23-24">
                            Task 23-24
                        </a>
                        <span class="label label-success pull-right">Done</span>
                    </h4>
                </div>
                <div id="collapse23-24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23-24">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <h3>Task 23-24</h3>
                                    <p>Description <a href="https://github.com/goit-fe/markup_fe2o/tree/master/js_23-24" target="_blank">here</a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <script id="wrapper-template" type="text/template">
                                <div class="todo-wrapper">
                                    <div class="todo-logo">
                                        <img src="img/todo-logo.png">
                                        <span>ToDo List</span>
                                    </div>
                                    <div class="controls">
                                        <input type="text" class="item-value" placeholder="Create new task...">
                                        <button class="item-add">&#10010;</button>
                                    </div>
                                    <ul class="item-list"></ul>
                                </div>
                            </script>
                            <script type="text/template" id="list-template">
                                <% for (var i = 0; i < data.length; i++) { %>
                                    <li class="item-row">
                                        <div class="item-row-inner">
                                            <span data-value="<%= data[i] %>" class="displayed-item"><%= data[i] %></span>
                                            <input value="<%= data[i] %>" class="item-edit-field" type="text">
                                        </div>
                                        <div class="item-delete-wrapper">
                                            <span data-value="<%= data[i] %>" class="item-delete">&nbsp;&#10006;</span>
                                        </div>
                                    </li>
                                <% }; %>
                            </script>
                            <div id="todo-task"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/tasks/task-common.js"></script>
    <script src="js/tasks/task01.js"></script>
    <script src="js/tasks/task02.js"></script>
    <script src="js/tasks/task0304.js"></script>
    <script src="js/tasks/task0506.js"></script>
    <script src="js/tasks/task0708.js"></script>
    <script src="js/tasks/task0910.js"></script>
    <script src="js/tasks/task12.js"></script>
    <script src="js/tasks/task11.js"></script>
    <script src="js/tasks/task11.js"></script>
    <script src="js/tasks/task1314.js"></script>
    <script src="js/tasks/task15.js"></script>
    <script src="js/tasks/task16.js"></script>
    <!--<script src="js/tasks/task23-24/all.js"></script>-->

    <!--<script src="dist/scripts/script.main.min.js"></script>-->

</body>
</html>