.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    max-width: 600px;
    max-height: 410px;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
}

.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 2px #999;
    opacity: 0.3;
}

.jcarousel-control-prev {
    left: 5px;
}

.jcarousel-control-next {
    right: 5px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    text-decoration: none;
    color: #fff;
    opacity: .9;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    min-width: 20px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;
    opacity: .3;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: .9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
