.test-container {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.answer-list-items {
    list-style: none;
    margin: 0 0 0 -30px;
}

.submitBtnBox {
    text-align: center;
}

.timer-layout {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-align: center;
}

.timer-layout h1{
    font-weight: bold;
}

.circle-item {
    animation-name: circle-animation;
    animation-duration: .3s;
}

.timer-scale-up {
    animation: timer-scale-up .3s;
}
.timer-scale-down {
    animation: timer-scale-down .3s;
}

@keyframes circle-animation {
    from {
        font-size: 0;
    }
    to {
        font-size: 18px;
    }
}

@keyframes timer-scale-up {
    0% {
        transform: scale(1);

    }
    50% {
        transform: scale(1.3);

    }
    100% {
        transform: scale(1);

    }
}

@keyframes timer-scale-down {
    0% {
        transform: scale(1);

    }
    50% {
        transform: scale(.8);

    }
    100% {
        transform: scale(1);

    }
}