.test-container {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.answer-list-items {
    list-style: none;
}

.submitBtnBox {
    text-align: center;
}

.timer-layout {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-align: center;
}

.timer-layout h1{
    font-weight: bold;
}

.circle-item {
    animation-name: circle-animation;
    animation-duration: .3s;
}

@keyframes circle-animation {
    from {
        font-size: 0;
    }
    to {
        font-size: 18px;
    }
}