
.site-logo {
  font-size: 20px;
  letter-spacing: 3px;
  padding: 100px 0 40px 0;
}

.site-logo__item {
  text-decoration: none;
}

.site-logo__item--header {
  color: #fff;
}


.site-logo--smaller-red {
  font-size: 16px;
  color: #ff4e50;
  letter-spacing: 3px;
  margin: 17px auto;
  padding: 0;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

//HOW IT WORKS BLOCK

.how-it-works{
  @include content-block;
}

.ggg {
  width: 33%;
  float: left;
}

.section__slogan {
  font-size: 22px;
  color: $text-color;
  margin: 15px 10px;
  text-align: center;
}

.section__slogan--smaller {
  font: $font-roboto;
  font-size: 18px;
  color: #5c5c5c;
}

.how-it-works__item {
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  text-align: left;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.how-it-works__item--bg-1 {
  background: url("images/slider/step1.jpg") center center no-repeat;
  background-size: cover;
}

.how-it-works__item--bg-2 {
  background: url("images/slider/step2.jpg") center center no-repeat;
  background-size: cover;
}

.how-it-works__item--bg-3 {
  background: url("images/slider/step3.jpg") center center no-repeat;
  background-size: cover;
}

.how-it-works__text--main {
  font-size: 24px;
  margin: 15px 0;
}

.how-it-works__text {
  font: $font-roboto;
  color: #ccc;
}

//PARTNER BLOCK

.partners {
  @include content-block;
}

.partner_item {

}

.partner-img {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
}

.partner-img--bg-1 {
  background: url("images/users/face-1.png") center no-repeat;
}

.partner-img--bg-2 {
  background: url("images/users/face-2.png") center no-repeat;
}

.partner-img--bg-3 {
  background: url("images/users/face-3.png") center no-repeat;
}

.partner-img--bg-4 {
  background: url("images/users/face-4.png") center no-repeat;
}

.partner-name {
  color: $text-color;
  margin: 20px 10px;
}

.partner-info {
  font: $font-roboto;
  color: #666;
  margin: 20px 35px;
}

.partner-img__icon {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 32px;
  height: 32px;
  border: 4px solid #fff;
  border-radius: 20px;
}

.partner-img__icon--tv {
  background: #ff4e50 url("images/small-img/tv.png") 7px 6px no-repeat;
}

.partner-img__icon--bottle {
  background: #ffa507 url("images/small-img/bottle.png") 10px 7px no-repeat;
}

.partner-img__icon--cap {
  background: #1cd7ad url("images/small-img/cap.png") 7px 5px no-repeat;
}

.partner-img__icon--plane {
  background: #4e73db url("images/small-img/plane.png") 6px 8px no-repeat;
}

//HOLIDAY ACTIVITY

.holiday-activity {
  @include content-block;
}

.search-input {
  @include input;
}