//@import "base/_fonts";

$font-montserrat:   bold 14px Montserrat, sans-serif;
$font-roboto:       300 14px Roboto, sans-serif;
$btn-main-color:    #ff4e50;
$text-color:        #333;
$url:               '/gulp-sass/dist/'