//Slider custom settings for Flickity

.flickity-page-dots {
  bottom: 15px;
}

.flickity-page-dots .dot {
  box-sizing: border-box;
  border: 3px solid #ffffff;
  border-radius: 0;
  background: #001d1d;
  width: 15px;
  height: 15px;
}